{% extends 'layout.html' %}

<!--Title-->
{% block title %}
<title>Home</title>
{% endblock %}

<!--Content-->
{% block content %}

<h3 class="mt-5 text-center">Online Movie Application</h3>
<br>

<div class="row" mt-5>
  {% for m in movie %}
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="https://img.youtube.com/vi/{{ m.trailer }}/maxresdefault.jpg" class="card-img-top" alt="{{ m.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ m.name }}</h5>
          {% if m.star > 3 %}
          <span class="badge badge-danger">Hot</span>

          {% else %}
          <span class="badge badge-warning">Good</span>

          {% endif %}
          
          
          <p class="card-text">{{ m.description }}</p>
          <a href="{% url 'movie' m.id %}" class="btn btn-primary">Watch Movie</a>
        </div>
      </div>
      <br>
    </div>
  {% endfor %}
</div>
{% endblock %}